<i class="{{if item.checked 'fa fa-check-square-o  two-col-un-check-row' 'fa fa-square-o  two-col-check-row'}}" aria-hidden="true" data-uid={{item.id}} data-row="{{item.index}}" data-side="{{side}}"/>
